[submodule "contrib"]
	path = contrib
	url = https://github.com/SoftwareDefinedBuildings/ioet_contrib.git
[submodule "toolchains/stormport"]
	path = toolchains/stormport
	url = https://github.com/SoftwareDefinedBuildings/stormport.git
	branch = kernel0
[submodule "toolchains/elua"]
	path = toolchains/elua
	url = https://github.com/gtfierro/storm_elua
